@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-violet-500 inline-block;
}

html,body{
    background-color: black;
    overflow-y: scroll; /* Ensures content remains scrollable */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; 
}
html::-webkit-scrollbar ,
body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.bg-primary-color{
    @apply bg-gradient-to-r from-orange-400 to-violet-500 inline-block;
}
